@reset-global pc

fieldset, label 
   margin 0 
   padding 0 

.wrapper
    width 100%
    position relative
    background-color #fff
    font-family Arial, Helvetica, sans-serif
    font-size 14px
    +below(768px)
      margin 25px 20px 35px

    